<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<script src='../js/jquery-3.7.1.min.js'></script>
	<script async src="../js/manager.min.js"></script>
	<link rel="stylesheet" href="../css/app.min.css">
	<link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
	<title>Lampshade</title>
</head>
<body>
	<h2 class="title">Lampshade</h2>
	<div class="container">
		<h3 class="subtitle">Available Wi-Fi Networks</h3>
		<ul id="wifiList">
		</ul>
	</div>
	<footer>Lampshade <b>1.0</b> by Ailton Fidelix</footer>
</body>
</html>